body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 35, 41);
  padding: 15%;
}
h1 {
  margin-bottom: 1em;
  color: #fff;
}
div {
  background-color: rgb(59, 58, 65);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}
button {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 70px;
}
#repeat {
  background-color: rgb(95, 146, 255);
}
#next {
  background-color: rgb(95, 255, 148);
}
